:root {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    --main-color: rgb(16, 197, 167);
    --light:  rgb(140, 218, 205);
    /* --light:  rgb(122, 216, 200); */
    --dark: rgb(4, 71, 80);
    --white: white;
}

header {
    background-image: linear-gradient(rgb(16, 197, 167, 0.8), rgb(4, 71, 80, 0.5)), url("floss-col.jpg");
    background-size: cover;
    text-align: center;
    padding: 15vh 0;
    margin: 0;
    color: var(--white);
}

header h2 {
    color: var(--white);
}

header a {
    color: var(--dark);
}

header span {
    display: block;
    font-size: 1.8rem;
    padding: 1rem;
    margin: 0 auto;
}

header > section {
    color: var(--dark);
    background-color: rgba(228, 255, 252, 0.8);
    width: 60%;
    margin: 5rem auto 0;
    padding: 2.5rem;
    border: 2px dotted var(--white);
}

section {
    border-radius: 4rem;

}

h1 {
    font-size: 8rem;
    margin-top: 0
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

h2, h3 {
    color: var(--dark);
    text-align: center;

}

span, p, ul, input, button {
    font-size: 1.7rem;
    line-height: 2.5rem;
}

.updates {

}

label {
    margin-left: 1rem;
}

button {
    display: block;
    background-color: rgb(110, 226, 172);
    border: 2px dotted var(--dark);
    box-shadow: 0px 5px 15px 1px rgba(4,71,80, 0.7);
    box-sizing: border-box;
    border-radius: 1rem;
    height: fit-content;
    padding: 1.3rem;
    margin: 2rem auto;
    text-align: center;
}

button:hover {
    background-color: var(--dark);
    border: 2px dotted var(--light);
    color: var(--white);
}

form {
    width: 60%;
    margin: 1rem auto;
}

form span, label {
    font-size: 1.4rem;
}

.two {
    display: flex;
    justify-content: center;
    align-items: stretch;

    padding: 2rem;
    margin: 0 auto;
}

.two section {
    width: 40%;
    margin: 3rem;
    padding: 2rem;
    background-color: var(--light);
    box-shadow: 5px 5px 48px -15px rgba(4,71,80,0.78);;
    border: 2px dotted var(--dark);
}

footer {
    background-color: var(--dark);
    color: var(--white);
    padding: 2rem;
    text-align: center;
}

footer a {
    color: var(--white);
}